html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
#ctastyle {
  display: inline-block;
  padding: 8px 20px;
  font-size: 12px;
/*   cursor: pointer; */
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 6px;
  box-shadow: 0 3px #969696;
}

#ctastyle:hover {background-color: black}

#ctastyle:active {
  background-color: black;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
/* #ctastyle{
      font-family: "Helvetica", Arial, sans-serif;
  font-style: Bold;
      text-align: center;

 background-color:black;
  color: white;
  padding: 0.6em 1.4em;
  font-size: 16px;
      border: none;
      text-decoration: none;
border-radius: 4px;


} */


#ctastyle: focus{
      font-family: "Helvetica", Arial, sans-serif;
  font-style: Bold;
      text-align: center;

 background-color:black;
  color: white;
  padding: 0.6em 1.4em;
  font-size: 16px;
      border: none;
      text-decoration: none;

}

.show{
  display: block;
  margin-left: auto;
  margin-right: block;
  max-width: 40%;
  align-content: center;
}



form{
  font-family: "Helvetica", Arial, sans-serif;
  font-style: Bold;
  text-align: left;
}

#inputText{
  display: block;
  width: 50%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 16px;
}

#inputSumbit {
  width: 50%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 8px;
  cursor:  pointer;
  border-radius: 4px;
  height: 48px;
  font-style: Bold;
}